[Unit]
Description=Monitor agent for ElasticSearch
After=network.target

[Service]
Type=forking
WorkingDirectory=/opt/es-agent
PIDFile=/var/run/elasticsearch/es-agent.pid
ExecStart=/opt/es-agent/server.sh start
ExecReload=/opt/es-agent/server.sh restart
ExecStop=/opt/es-agent/server.sh stop
PrivateTmp=true

[Install]
WantedBy=multi-user.target
